/* PARTIE CSS */

/* Importation de la police de caractères 'Muli' */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    color: rgba(0,0,0,0.85);
    font-weight: 400;
    line-height: 1.5em;
    font-size: 20px;
}

/* 1. Titre principal centré, police Arial taille 64px */
h1 {
    margin: 30px auto 20px;
    padding: 35px 0;
    position: relative;
    z-index: 1;
    font-family: Arial;
    font-size: 64px;
    text-align: center;
}

/* 2. Justifier texte paragraphes */
p {
    text-align: justify;
}

/* 3. Mots en italique */
.italique {
    font-style: italic;
}

/* 4. Corps centré, marges ajusté, 
couleur de fond changé, largeur 80% */
body {
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    width: 80%;
}

/* 5. Image "Hôtel de ville de Limoges" centrée, 
largeur 800 pixels, bordure 1px, légende centrée */
#hotel_de_ville {
    display: block;
    margin: 0 auto;
    width: 800px;
    border: 1px solid #000;
}

figcaption {
    text-align: center;
}


/* 6. Carte centré, dimensions 800×600px, bordure ajouté */
#carte_interactive {
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 600px;
}
#carte_container {
    margin: 0 auto;
    border: 1px solid #000;
    width: 800px;
    height: 600px;
}

/* 7. Hauteur logo 100px, situé à droite */
#logo_Limoges {
    height: 100px;
    position: absolute;
    z-index: 2;
    right: 0;
    margin-right: 10%;
}
.clear_right {
    clear: right;
}

/* 8. Menu horizontal en haut & centré */
#menu {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    list-style-type: none;
    background-color: #333;
}
#menu li {
    margin: 0 0.2em;
    text-transform: uppercase;
}
#menu li a {
    display: block;
    margin: 1px 0;
    padding: 5px;
    color: #f0f0f0;
    text-align: center; 
    text-decoration: none;
    border: 1px solid #f0f0f0; 
    border-radius: 10px;
}
#menu li a:hover {
    background-color: #111;
}

/* 9. Image "blason" devant titres de section (h2) */
h2 {
    margin-top: 60px;
    background-image: url('./data/img/Blason_Limoges_icone.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 45px; /* Ajuster cette valeur en fonction de la taille de l'image */
    line-height: 50px;
    width:fit-content;
}
#intro h2 {
    margin-top: unset;
}

/* 10. Curseur sur titre h2 = pointeur (comme si le titre était cliquable), 
sauf pour le titre 'commentaires' (id="commentaires_clique_pas" pour pouvoir le cibler) */
h2:not(#commentaires_clique_pas):hover {
    cursor: pointer !important;
}

/* 11. */
fieldset {
    margin: 0 auto;
    padding: 0;
    border: none;
}

form div {
    display: flex;
    width: 85%;
    padding-left: 0;
}
form label {
    width: 40%;
    text-align: right;
}
form input, form textarea {
    margin-left: 0.2em;
    width: fit-content;
    max-width: 50%;
    font-family: 'Muli', sans-serif;
}
form label span {
    color: red;
}

/* 12. */
h1, h2, h3 {
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
}

#donnees_limoges {
    display: flex;
    margin: 60px auto 0;
    flex-direction: column;
    width: 75%;
}
table, td {
    border: 1px solid #000;
}
table {
    margin-top: 5px;
    border-collapse: collapse;
    background-color: #CCC;
}
table .coloriser {
    background-color: #EEE;
  }
.center_text {
    text-align: center;
}

/* FIN PARTIE CSS */


/* PARTIE JAVASCRIPT : 
les blocs ci-dessous sont liées au Javascript */
.defiler {
    margin: auto;
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}
.defiler img {
    width: 100%;
    display: none;
}
.defiler img.active {
    display: block;
}

#legendes_images {
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.animate {
    transition: color 0.5s ease;
}